*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    height: 100vh;
    background-image: linear-gradient(grey,black,gray,black);
}
#todo-container{
    max-width: 400px;
    margin: auto;
}
h2{
    color: red;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background: blueviolet;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}